* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
  background: hsl(257, 40%, 49%) url(./images/bg-desktop.svg) no-repeat top /
    cover padding-box border-box;
  overflow-x: hidden;
}

.main-wrapper {
  max-width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding-top: 60px;
  margin-bottom: 40px;
}

.logo img {
  max-width: 240px;
}

.banner-container {
  display: flex;
}

.banner-img {
  flex: 0 0 50%;
  max-width: 50%;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 30px 0 0 80px;
}

.banner-title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 20px;
}

.banner-description {
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.button {
  padding: 12px 50px;
  border-radius: 50px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-size: 18px;
  border: none;
  box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.14);
}

.button:hover {
  background-color: hsl(256, 100%, 91%);
}

.contacts {
  display: flex;
  justify-content: flex-end;
}

.contact-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 24px;
}

ion-icon {
  font-size: 24px;
  color: white;
  position: relative;
  top: 10px;
  left: 10px;
}

.attribution {
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 20px 0;
}

.attribution a {
  color: hsl(51, 100%, 50%);
}

.attribution a:hover {
  color: hsl(320, 100%, 61%);
}

@media (max-width: 991px) {
  body {
    width: 100vw;
    height: auto;
    background: hsl(257, 40%, 49%) url(./images/bg-mobile.svg) no-repeat;
  }

  .main-wrapper {
    padding: 28px;
    max-width: 100%;
  }

  .logo {
    padding-top: 0;
  }

  .logo img {
    max-width: 45%;
  }

  .banner-container {
    flex-direction: column;
    justify-content: center;
  }

  .banner-img {
    flex: 1;
    max-width: 100%;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 100%;
    padding: 0;
    margin: 40px 0;
  }

  .banner-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .banner-description {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  .button {
    padding: 14px 60px;
    font-size: 18px;
    width: 80%;
  }

  .contacts {
    justify-content: center;
  }

  .contact-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
  }

  ion-icon {
    font-size: 24px;
    top: 8px;
    left: 8px;
  }

  .attribution {
    padding: 40px 0 20px 0;
  }
}
